/* Universal Styles */
body {
    font-family: "Montserrat", "Helvetica", sans-serif;
    font-size: 16px;
}
.flex-container {
    display: flex;
    width: 100%;
}
/* Header */
header {
    position: fixed;
    z-index: 100;
    width: 100%;
    border-bottom: solid 1px #c6c1c1;
    background-color: white;
    max-height: 4rem;
  }

header .content {
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    font-family: Montserrat, Helvetica, sans-serif;
}

.desktop-logo {
    display: flex;
    align-items: center;
}
.desktop-logo img {
    height: 2rem;
}
.desktop-logo p {
    font-size: 1.1rem;
    font-weight: 300;
    letter-spacing: .05rem;
}
p span {
    font-weight: 600;
}
header nav {
    position: relative;
    left: 40%;
    width:85%;
}
header nav ul {
    display: flex;
   text-align: right;
    
}

nav li {
    padding-left: 1rem;
}
nav a {
    vertical-align: bottom;
    color: black;
}
/* Start Section */

.container {
    width: 100%;
    height: auto;
    display: flex;
    background-color: #c6c1c1;
    position: relative;
    top: 4rem;
}
.main-image {
    width: 60%;
    margin: 2rem 1.5rem;
}
.main-image img{
    max-width: 100%;
}
.textcontainer {
    max-width: 40%;
    font-family: Montserrat, sans-serif;
}
.start-content {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin-top: 7rem;
}
.textcontainer h1 {
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 2rem;
}
.textcontainer h3 {
    font-size: 1.25rem;
    font-weight: 500;
    padding-bottom: 2rem;
}
.textcontainer button {
    padding: 0.5rem 6rem;
    background-color: cadetblue;
    color: white;
}
/* Practice Section */
.practice-container {
    width: 100%;
    height: auto;
    display: flex;
    background-color: #eeeaea;
    position: relative;
}
.main-image h2 {
    font-size: 1.75rem;
    padding: 2rem auto 1.5rem 2rem;
}
